<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo-group">
        <a href="/" class="header__logo-link">
          <picture>
            <source media='(min-width: 1200px)' srcset="./img/logo-desktop.svg">
            <source media='(min-width: 768px)' srcset="./img/logo-tablet.svg">
            <img
              class="header__logo-img"
              src="./img/logo-mobile.svg"
              width="33px"
              height="37px"
              alt="logo"
            />
          </picture>
        </a>
        <a href="/" class="header__logo-link">
          <img
            class="header__logo-img header__logo-text"
            src="./img/logo-mobile-text.svg"
            alt="logo"
            width="101px"
            height="18px"
          />
        </a>
      </div>
      <nav class="navbar-wrapper">
        <ul class="navbar__list">

          <li class="navbar__item">
            <a href="/" class="navbar__link navbar__link-catalog">Главная</a>
          </li>
          <li class="navbar_item">
            <a href="/catalog.html" class="navbar__link navbar__link-catalog">Каталог продукции</a>
          </li>
          <li class="navbar__item">
            <a href='/form.html' class="navbar__link navbar__link-catalog">Подбор программы</a>
          </li>

        </ul>
      </nav>
      <nav class="hamburger">
        <button class="hamburger__btn">
          <!-- <img
            class="logo__link-img"
            src="./img/logo-mobile.svg"
            alt="logo"
            width="24px"
            height="16px"
          /> -->
        </button>
      </nav>
    </div>
  </div>
</header>
