<footer class="footer">
  <div class="container">
   <div class="footer__inner">
      <a href="/">
        <img src='./img/logo-footer.svg' class="footer__logo" alt="Логотип">
      </a>
      <hr class="footer__line">
      <ul class="footer__social-list">
        <li class="footer__social-item">
          <a href="https://vk.com" class="footer__social-link vk">
            <img src="./img/icon-vk.svg" class="footer__social-icon"  alt="Логотип ВКонтакте">
          </a>
        </li>
        <li class="footer__social-item">
          <a href="https://instagram.com" class="footer__social-link insta">
            <img src="./img/icon-insta.svg" class="footer__social-icon" alt="Логотип Инстаграм">
          </a>
        </li>
        <li class="footer__social-item">
          <a href="https://facebook.com" class="footer__social-link facebook">
            <img src="./img/icon-fb.svg" class="footer__social-icon"  alt="Логотип Фейсбук">
          </a>
        </li>
      </ul>
      <hr class="footer__line">
   </div>
  </div>
</footer>
