.visually-hidden
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  padding: 0
  overflow: hidden
  white-space: nowrap
  border: 0
  clip: rect(0 0 0 0)
  clip-path: inset(100%)

.promo
  width: 100%
  min-height: 480px
  @media ( min-width: 600px )
    min-height: 700px
  @media ( min-width: 768px )
    min-height: 950px
  @media ( min-width: 1200px )
    min-height: 696px
    background-image: url('../img/index-background-desktop@1x.jpg')
    background-repeat: no-repeat
    background-size: 50% 100%
    background-position: 100% 0%

.container
  min-width: 320px
  height: 100%
  padding: 0 20px
  margin: 0 auto

  @media ( min-width: 768px )
    width: 768px
    padding: 0 30px

  @media ( min-width: 1200px )
    width: 1200px
    padding: 0 60px

.btn
  width: 280px
  height: 40px
  border: none
  font-style: normal
  font-weight: 400
  font-size: 14px
  line-height: 18px
  text-align: center
  text-transform: uppercase
  color: #FFFFFF
  background-color: $main-green
  cursor: pointer
  transition: 0.25s
  &:hover
    background-color: $hover-green

.btn-openMore
  background-color: #F2F2F2
  color: $medium-grey
  @media ( min-width: 1200px )
    width: 168px
